@charset "utf-8";

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin:0 auto;
}

.blue{
    background-color: blue;
    width: 30%;;
    height: 30%;
}

.red{
    background-color: red;
    width: 30%;
    height: 30%;
}

header{
    max-width: 960px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin:0 auto;
}
/*
a{
    display:block;
    margin: 10px auto;
} */

nav{
    margin:10px auto;
}

h1{
    font-size:40px;
    justify-content: left;
}

ul{
    display:flex
}

li{
    font-size: 20px;
    margin-left: 30px;
}

li+li{
    border-left: 1px solid #4c4c4c;
}

@media screen and (max-width: 767px){
    header{
        flex-direction: column;
        text-align: left;
    }
    nav{
        margin:10px 0;
    }

    ul{
        flex-direction: column;
        justify-content: start;
        text-align: start;
    }

    li{
        border-bottom: 1px solid #4c4c4c;
        margin-left: 0;
        padding:8px 0;
    }

    li+li{
        border-left:none;
    }
}