@charset "utf-8";

.header_inner{
    max-width: 1730px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;
    position: absolute;
    top:0;
    left:0;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}

.header_inner nav{
    width: 100%;
    max-width: 740px;
}

.header_inner nav ul{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    font-weight: bold;
}

.header_inner nav li{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size : 18px;
    color : #fff;
}

.logo img{
    max-width: 230px;
}



body{
    background-color: #E8D9BF;
}


.top{
    max-width: 1000px;
    margin: 100px auto;
    text-align: center;
}

.top_sub{
    font-size: 30px;
}

h2{
    margin: 5% 0;
    font-size: 82px;
    font-weight: lighter;
    letter-spacing: 10px;
}

.top_text{
    font-size: 23px;
    letter-spacing: 3px;
}

.about_img img{
    max-width:  500px;
}

.about_text img{
    max-width: 270px;
}

.about_us{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto 100px auto;
    gap:5%;
    padding:0 10px;
}

h3{
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 44px;
    font-weight: lighter;
    line-height: 60px;
}

.about_text p{
    max-width: 410px;
    line-height: 25px;
}

.menu_content{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
    gap: 3%;
}

.menu_title{
    max-width: 144px;
    margin: 0 auto;
}

.menu_img img{
    /* position: relative; */
    max-width: 300px;
    /* height:200px; */
    /* object-fit: cover;
    border-top-right-radius: 40px; */
    margin-top: 50px;
    margin-bottom: 45px;
}

h4{
    font-size: 38px;
    margin: -60px 0;
    color: #D30202;
    padding-left: 10px;
    font-weight: lighter;
    /* position: absolute; */
    z-index: 9999;
    /* bottom:-20px; */
}

.menu_img p{
    padding-top: 80px;
    max-width: 300px;
}

.gallary_title{
    max-width: 240px;
    margin: 100px auto 25px auto;
}

.gallary_img{
    display: flex;
    width: 100%;
}

.gallary_img img{
    width: calc(100% / 5);
}

.event{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}

.event_title img{
    max-width: 166px;
    margin: 70px auto 40px auto;
}

.event_box{
    margin: 0 auto;
    padding: 20px 0;
    background: #fff;
    max-width: 1000px;
    /* width:100%; */
    border: 5px solid #000;
}

ul{
    margin: 0 auto;
    display: inline-block;
    text-align: start;
}

li{
    margin: 21px auto;
}

.date{
    padding-right: 55px;
    font-size: 23px;
}

.news{
    border-bottom: 1px solid #000;
    font-size: 23px;
}

.access{
    text-align: center;
}

.access img{
    max-width: 210px;
    margin: 80px auto 46px auto;
}

.access iframe{
    width:100%;
    height: 470px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

footer{
    width:100%;
    height: 393px;
    background-color: #fff;
}

.footer{
    max-width: 630px;
    width:100%;
    display: flex;
    align-items: start;
    margin: 0 auto;
    padding-top: 83px;
    padding-bottom: 77px;
}

.footer_logo{
    max-width: 225px;
    margin-right: 68px;
}

.footer_text{
    text-align: left;
}

.footer_text p{
    padding-bottom: 20px;
}

.copy{
    margin: 0 auto;
    text-align: center;
}

.page_top{
    max-width: 125px;
    width:6%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.sp_nav, .hamberger{
    display: none;
}

.sp_about,.sp_br,.sp_gallary_img{
    display: none;
}

@media screen and (max-width:1100px){
    .header_inner nav{
        display: none;
    }

    .hamberger{
        display:block;
        position: absolute;
        cursor: pointer;
        height: 30px;
        width: 33px;
        z-index: 9999;
        right: 0;
    }

    .hamberger span{
        width:33px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        content:"";
        top: 20px;
        right: 10px;
        z-index: 9999;
        transition: 0.5s;
    }

    .hamberger span::before,
    .hamberger span::after{
        position: absolute;
        content: "";
        width: 33px;
        height: 3px;
        background-color: #fff;
        transition: 0.5s;
    }

    .hamberger span::before{
        top: -10px;
    }

    .hamberger span::after{
        top: 10px;
    }

    .hamberger.open span{
        background-color: transparent;
    }

    .hamberger.open span::before,
    .hamberger.open span::after{
        top:0;
    }

    .hamberger.open span::before{
        transform: rotate(45deg);
    }

    .hamberger.open span::after{
        transform: rotate(-45deg);
    }

    .sp_nav{
        position: absolute;
        width:100%;
        height: 100vh;
        background-color: #00000092;
    }

    .sp_nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sp_nav li{
        padding: 16px;
        font-size: 16px;
        color:#fff;
        text-align: center;
    }
}

@media screen and (max-width:1000px){
    .top_sub{
        font-size: 25px;
    }

    .about_text img{
        max-width: 200px;
    }
}

@media screen and (max-width:767px){
    .top{
        margin:50px auto;
    }
    .top_sub{
        font-size: 20px;
    }

    h2{
        font-size: 45px;
        letter-spacing: normal;
    }

    .top_text{
        font-size: 20px;
        line-height: 40px;
    }

    .about_us{
        display: none;
    }

    .sp_about{
        display: block;
    }

    .sp_about_logo{
        max-width: 200px;
        margin: 0 auto 10px auto;
    }

    h3{
        font-size: 35px;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    .sp_about_text img{
        max-width: 100%;
    }

    .sp_about_text p{
        font-size: 15px;
        line-height: 25px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
    }

    .menu_title{
        margin-top: 50px;
        max-width: 130px;
    }

    .menu_content{
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu_img img{
        margin-top: 20px;
        max-width: 100%;
    }

    .menu_img p{
        margin-bottom: 50px;
        text-align: center;
        max-width: 100%;
    }

     .menu_text p{
        text-align: center;
     }

    .gallary_title{
        max-width: 200px;
    }

    .gallary_img{
        display: none;
    }

    .sp_gallary_img{
        display: block;
        max-width: 100%;
    }

    .event_title{
        max-width: 140px;
        margin: 0 auto;
    }

    .event_text li{
        display: flex;
    }

    .date{
        font-size: 20px;
    }

    .news{
        font-size:20px;
    }

    .access_title{
        max-width: 180px;
        margin: 0 auto;
    }

    .footer{
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer_text{
        padding-top: 40px;
    }

    .footer_logo{
        max-width: 60%;
    }

    .page_top{
        max-width: 200px;
        width:20%;
    }
}

.slick-dots{
    bottom: 0;
}

.slick-dots li button:before{
    color:#fff;
    font-size: 10px;
}

.slick-dots li.slick-active button:before{
    color: #fff;
}